*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

body{
    background-color: #000000;
    width: 100vw;
}

body > .container{
    display: flex;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95px 798px 95px;
    grid-template-areas: 
    "h"
    "m"
    "f";
}

header{
    grid-area: h;
    background-color: #141E53;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.logo > img{
   width: 200px;
}

footer{
    background-color: #141E53;
    grid-area: f;
}

main{
    grid-area: m;
    animation: fundo 10s linear infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fundo{
    0%{background-image: url(img/filmes/grupo1.png);}
    50%{background-image: url(img/filmes/grupo2.png);}
    100%{background-image: url(img/filmes/grupo3.png);}
}

main > .quadro{
    width: 1205px;
    height: 718px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.frase{
    width: 1140px;
    height: 237px;
    background-color: #250C89;
    border: 5px solid #000000;
    border-radius: 15px;
    word-wrap: break-word;
    margin-top: 74px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frase p{
    font-weight: 600;
    font-size: 48px;
    line-height: 53px;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #FFFFFF;
    width: 1025px;
    margin-bottom: 20px;
}

input[type="submit"]:not(#btl){
    cursor: pointer;
    width: 390px;
    height: 111px;
    border: 9px solid #000000;
    border-radius: 15px;
    font-weight: 700;
    font-size: 60px;
    line-height: 55px;
    color: #FFFFFF;
    text-shadow: 3px 3px 1px black, -3px 3px 1px black, 3px -3px 1px black, -3px -3px 1px black;
}

#bt1{
    background-color: #CC0000;
}

#bt2{
    background-color: #007513;
}

#bt1:hover{
    width: 340px;
    height: 100px;
    background-color: #930303;
    font-size: 50px;
}

#bt2:hover{
    width: 340px;
    height: 100px;
    background-color: #025610;
    font-size: 50px;
}

.ou p{
    color: #FFFFFF;
    font-weight: 300;
    font-size: 48px;
    line-height: 53px;
    margin: 20px;
    position: static;
}

.cadastro{
   
    width: 505px;
    height: 597px;
    background-color: #404040;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 89px auto auto;
    grid-template-areas: 
    "c"
    "msg"
    "p";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titulo{
    grid-area: c;
    background-color: #41247D;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 505px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo p{
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
}

.conteudo{
    grid-area: p;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.conteudo form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

label{
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

input[type="text"], input[type="email"], input[type="password"]{
    background-color: #FFFFFF;
    border-radius: 21px;
    height: 38px;
    width: 400px;
    border: none;
    cursor: pointer;
    padding-left: 2rem;
    font-size: 20px;
    font-weight: 500;
    
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    outline: none;
}

input[type="text"], input[type="email"] {
    background-color: #FFFFFF;
}

#btl{
    width: 154px;
    height: 52px;
    background-color: #DA0000;
    border-radius: 46px;
    border: none;
    font-weight: 600;
    font-size: 32px;
    align-self: center;
    margin-top: 35px;
    color: #FFFFFF;
}

#btl:hover{
    width: 140px;
    height: 47px;
    font-size: 30px;
    background-color: #960404;
}

.mensagem > p{
    grid-area: msg;
    max-width: 500px;
    min-width: 320px;
    font-size: 20px;
    margin-bottom: 20px;
    color:red;
}


@media (max-width:360px){
    body > .container{
         grid-template-columns: 100vw;
         grid-template-rows: 45px 550px 45px;
         grid-template-areas: 
         "h"
         "m"
         "f";
 
    }
 
    .logo > img{
     width: 100px;
    }
 
    main > .quadro{
     width: 295px;
     height: 403px;
     margin-bottom: 90px;
    }
 
    .frase{
     width: 278px;
     height: 156px;
     margin-top: 24px;
    }
 
    .frase p{
     font-weight: 600;
     font-size: 24px;
     line-height: 26px;
     width: 260px;
     margin: 20px;
    }
 
    input[type="submit"]:not(#btl){
     height: 51px;
     width: 143px;
     border: 5px solid #000000;
     font-weight: 600;
     font-size: 24px;
     text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
     line-height: 15px;
    }
    
    #bt1:hover{
     width: 137px;
     height: 44px;
     background-color: #930303;
     font-size: 50px;
     }
 
     #bt2:hover{
     width: 137px;
     height: 44px;
     background-color: #025610;
     font-size: 50px;
     }
 
     .ou p{
     font-weight: 300;
     font-size: 20px;
     line-height: 22px;
     }
 
    .cadastro{
    width: 291px;
    height: 373px;
    grid-template-rows: 48px auto;
    }

    .titulo p{
        font-size: 24px;
    }

    label{
        font-size: 20px;
    }

    .conteudo form{
        gap: 0px;
    }

    input[type="text"], input[type="email"], input[type="password"]{
        width: 223px;
        height: 33px;
        font-size: 15px;
    }

    #btl{
        width: 111px;
        height: 27px;
        font-size: 20px;
        line-height: 22px;
        margin-top: 20px;
    }
}
