*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #0B1237;
}

.container{
    
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "h"
    "m";
}

main{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "fil ser ma"
    "liv jog ma";
    gap: 30px 80px;
    padding: 90px 0px 45px 90px;
}


img[alt="logo"]{
    grid-area: l;
    width: 261px;
    height: 91px;
    margin-top: 91px;
    position: absolute;
}

header{
    grid-area: h;
    background-color:#000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}



img[alt="menu"]{
    width: 68px;
    height: 72px;
}

header p{
    color: #ffff;
    font-weight: 600;
    font-size: 96px;
}


.quadro1, .quadro2, .quadro3, .quadro4{
    grid-area: fil;
    width: 520px;
    height: 370px;
    background-color: #295F9F;
    border: 5px solid #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 68px auto;
    grid-template-areas: 
    "c c c"
    "f1 f2 f";
}

.quadro2{
    grid-area: ser;
    background-color: #470C75;
}

.quadro3{
    grid-area: liv;
    background-color: #7D0A63;
}

.quadro4{
    grid-area: jog;
    background-color: #B30036;
}

.quadro1 > .cards, .quadro2 > .cards, .quadro3 > .cards, .quadro4 > .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "f1 f2 f";
    padding: 17px;
    column-gap: 20px;
}

.quadro1 > .titulo, .quadro2 > .titulo, .quadro3 > .titulo, .quadro4 > .titulo{
    grid-area: c;
    width: 511px;
    background-color: #262626;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.quadro1 > .titulo p, .quadro2 > .titulo p, .quadro3 > .titulo p, .quadro4 > .titulo p{
    font-weight: 400;
    font-size: 48px;
    color: #ffff;
}


.cards > .card1{
    grid-area: f1;
    height: 264px;
    width: 205px;
    background-color:#D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px 14px 2px 14px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "i"
    "t"
    "ca"
    "l";
}

.cards > .card1 > .imag{
    grid-area: i;
    height: 130px;
    width: 175px;
    background-color: #ffff;
}

.cards > .card1 > .tit p{
    grid-area: t;
    font-weight: 400;
    font-size: 32px;
}

.cards > .card1 > .cat > p{
    grid-area: ca;
    font-weight: 400;
    font-size: 21px;
    margin-bottom:40px;
}

.cards > .card2{
    grid-area: f2;
    height: 264px;
    width: 205px;
    background-color:#D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px 14px 2px 14px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "i"
    "t"
    "ca"
    "l";
}

.cards > .card2 > .imag{
    grid-area: i;
    height: 130px;
    width: 175px;
    background-color: #F59300;
}

.cards > .card2 > .tit p{
    grid-area: t;
    font-weight: 400;
    font-size: 32px;
}

.cards > .card2 > .cat > p{
    grid-area: ca;
    font-weight: 400;
    font-size: 21px;
    margin-bottom:40px;
}

.ee > ul {
    grid-area: l;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

li{
    color: #000000;
}

img[alt="flecha"]{
    grid-area: f;
}


img[alt="mais"]{
    width: 90px;
    height: 70px;
}

.mais{
    position: absolute;
    left: 1350px;
    top: 560px;
}

@media (max-width:360px){

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
        "fil"
        "ser"
        "liv"
        "jog" 
        "ma";
        padding: 60px 10px 50px 10px;
        gap: 60px;
    }

    header{
        padding: 0;
        width: 100%;
    }

    img[alt="menu"]{
        width: 33px;
        height: 33px;
    }


    header p{
        font-size: 40px;
    }

    img[alt="logo"]{
        width: 121px;
        height: 48px;
        margin-top: 37px;
    }

    img[alt="mais"]{
        size: 20px 20px;
    }
    
    .mais{
        size: 20px 20px;
        left: 40%;
        top: 1440px;
    }


   .quadro1, .quadro2, .quadro3, .quadro4{
        width: 320px;
        height: 290px;
        margin: -10px -60px ;
    }

    .quadro1 > .cards, .quadro2 > .cards, .quadro3 > .cards, .quadro4 > .cards{
        column-gap: 10px;
        margin: -10px -5px;
        padding-top: 1px;
    }

    .quadro1 > .titulo, .quadro2 > .titulo, .quadro3 > .titulo, .quadro4 > .titulo{
        width: 310px;
        height: 40px;
    }

    .quadro1 > .titulo p, .quadro2 > .titulo p, .quadro3 > .titulo p, .quadro4 > .titulo p{
        font-size: 30px;
    }

    .cards > .card1{
        height: 204px;
        width: 125px;
        padding: 10px 10px 2px 10px;
    }

    .quadro1 > .cards > .card2, .quadro2 > .cards > .card2, .quadro3 > .cards > .card2, .quadro4 > .cards > .card2{
        height:204px;
        width: 130px;
        padding: 10px 10px 2px 10px;
    }

    .cards > .card1 >.imag{
        height: 80px;
        width: 115px;
    }

    .cards > .card2 >.imag{
        height: 80px;
        width: 115px;
    }

    .cards > .card1 > .tit p{
        font-size: 22px;
    }

    .cards > .card2 > .tit p{
        font-size: 22px;
    }

    .cards > .card1 > .cat > p{
        font-size: 18px;
        margin-bottom: 30px;
    }

    .cards > .card2 > .cat > p{
        font-size: 18px;
        margin-bottom: 30px;
    }

    .cards > .card1 > .ee > ul {
        font-size: 13px;
    }

    .cards > .card2 > .ee > ul {
        font-size: 13px;
    }

    img[alt="flecha"]{
        width:20px;
        height: 20px;

    }

}